/* 菜單 */
.menu {
    width: 100%;
}
.menu-topic {
    margin-bottom: 15px;
    color: #613e3b;
    font-size: 35px;
    font-family: 'Nanum Pen Script', cursive;
}

.menu-topic-text {
    width: 150px;
    margin: auto;
    text-align: center;
    color: #613e3b;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    position: relative;
}

.menu-topic-text::before {
    content: '';
    width: 26vw;
    height: 1vh;
    border-top: 3px solid #613e3b;
    position: absolute;
    top: 49%;
    left: -29vw;
}

.menu-topic-text::after {
    content: '';
    width: 26vw;
    height: 1vh;
    border-top: 3px solid #613e3b;
    position: absolute;
    top: 49%;
    right: -29vw;
}

body {
    width: 100%;
    height: 100vh;
}

.menu_btns {
    display: flex;
}

.menu_btn {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #613e3b;
    border-radius: 50px;

}

.menu_btn:hover {
    background-color: #f0ebe2;
    color: #613e3b;
}

.menu_btn.active {
    background-color: #f0ebe2;
    color: #613e3b;
    font-weight: bold;
}

.menu_content {
    display: none;
}

.menu_content.active {
    display: block;

}

.menu-text li {
    /* list-style-type: circle; */
    color: #613e3b;
}

.menu-spe {
    color: #ca7159;
}

.menu-img {
    height: 300px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('https://i.pinimg.com/564x/98/26/f3/9826f3e728f10eb147e0a3880580f706.jpg');
    height: 330px;
}

.img2 {
    background-image: url('https://i.pinimg.com/564x/20/34/7a/20347acab473046e2b8fea2979b3c4ff.jpg');
}

.img3 {
    background-image: url('https://i.pinimg.com/564x/51/99/b7/5199b7d720c232d857168fa80f10dc61.jpg');
}

.img4 {
    background-image: url('https://i.pinimg.com/564x/b3/1f/7f/b31f7f307894abd1fedef104f489acd4.jpg');
}

.img5 {
    background-image: url('https://i.pinimg.com/564x/62/51/a3/6251a3ae784d68b92f392dec09529bc3.jpg');
}