/* body {
    position: relative;
    background-color: white;
}
.banner-bg-full{
    width: 100%;
    height: 436px;
    background-color: #f4f2e2;
    position: absolute;
    top: 300px;
}

.banner-bg-img{
    width: 1088px;
    height: 696px;
    background-color: peru;
    position: absolute;
    right: 100px;
    top: 100px;
} */