/* 關於 */
.about {
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-topic {
    width: 200px;
    color: seagreen;
    text-align: center;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 2px solid seagreen;
    position: absolute;
    top: 7%;
    left: calc(50% - 100px);
}

.about-text {
    margin-bottom: 15px;
}

.about-content {
    width: 40%;
    padding: 15px;
    color: seagreen;
    position: absolute;
    top: 18%;
    left: 18%;
}


.about-content::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('https://pic.pimg.tw/cindy6732/1573813727-1295145353.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 95%;
    left: 50%;
}
